
body{
  font-family: sans-serif;
  
    background-color: rgb(31, 31, 31);
    
}
h1{
  color: white;
  text-align: center;
}
#conteiner{
  height: 800px;
  background-color: aqua;
  
  position: relative;
  padding: 30px;
}
#conteudo{
  height:700px;
  width: 700px;
  background-color: black;
  position: absolute;
  left: 50%;
  top:50%;
}
 #html{
  position: absolute;
  left: 50%;
  bottom:50%;
 }
    


